# .coveragerc

[run]
source = user_image_classifier
branch = true

[paths]
source =
    src/producer_graph
    # Path for Hatch virtual environments (macOS/Linux)
    */.hatch/env/virtual/*/lib/python*/site-packages/user_image_classifier
    # Path for Hatch virtual environments (Windows)
    *\\.hatch\\env\\virtual\\*\\Scripts\\site-packages\\user_image_classifier

[report]
exclude_lines =
    no cov
    if __name__ == .__main__.:
    if TYPE_CHECKING:
